@import "../../scss/variables";

.table {
  margin-top: 23px;
  width: 100%;
  border-spacing: 0 8px;

  & th {
    text-align: left;
    color: $gray-secondary;
    font-size: 12px;
    font-weight: 600;
  }

  & td {
    text-align: right;
    color: $gray-primary;
    font-size: 12px;
    font-weight: 600;
  }

  &_fz14 {
    & th {
      font-size: 14px;
    }

    & td {
      font-size: 14px;
    }
  }
}
